
{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}

        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    {% for blog in blogs %}
                        <div class="post-preview">
                                <h2 class="post-title">{{blog.blog_title}}</h2>
                                <p class="post-subtitle">{{blog.blog_content|range_filter|linebreaks}}
                                    <a href="{{blog.slug}}" class="text-danger">Read More</a>
                                </p>
                            <p class="post-meta">
                                Posted by
                                <a href="#!">{{blog.author.username}}</a>
                                {{blog.publish_date}}
                            </p>
                        </div>
                        <!-- Divider-->
                        <hr class="my-4" /> 
                    {% endfor %}
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>
        {% if is_paginated %}
  <ul class="pagination list-inline mx-auto justify-content-center fs-3 text-danger">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
    {% endblock %}
        
