{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
<style>
    .not-visible {
        display: none;
    }
</style>
<div class="container">
    <h1>POSTS</h1>
    <div class="content" id="content">
        {% for post in posts %}
        <div class="single_content border border-success mt-2 pl-2">
            <h2 class="post-title">{{post.blog_title}}</h2>
            <p class="post-subtitle">{{post.blog_content|range_filter|linebreaks}}
                <a href="{{post.slug}}" class="text-danger">Read More</a>
            </p>
        </div>
        {% endfor %}
    </div>
    <div class="spinner-border text-primary mt-2 not-visible" role="status" id="spinner">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="load-more__btn mt-3" id="btn">
        <button type="button" class="btn btn-success">Load More Post</button>
    </div>
    <div class="alert alert-danger mt-2 not-visible" role="alert" id='alert'>
        No more post to load!!
    </div>
</div>

{{total_obj|json_script:"json-total"}}
    <script>
        // var _current_item = $('.single_content').length
        // console.log(_current_item);
        const loadBtn = document.getElementById('btn');
        const spinner = document.getElementById('spinner');
        const total = JSON.parse(document.getElementById('json-total').textContent);
        const alert = document.getElementById('alert');

        function loadmorePost() {
            var _current_item = $('.single_content').length
            const content_container = document.getElementById("content");
            $.ajax({
                url: '{% url "load" %}',
                type: 'GET',
                data: {
                    'offset': _current_item
                },
                beforeSend: function () {
                    loadBtn.classList.add('not-visible');
                    spinner.classList.remove('not-visible');
                },
                success: function (response) {
                    
                    const data = response.posts
                    spinner.classList.add('not-visible')
                    data.map(post => {
                        console.log(post.title);
                        content_container.innerHTML += `<div class="single_content border border-success mt-2 pl-2">
                                                            <h3>${post.blog_title}</h3>
                                                            <p class="post-subtitle">${post.blog_content}</p>
                                                           
                                                        </div>`
                    })
                    if (_current_item == total) {
                        alert.classList.remove('not-visible');
                    } else {
                        loadBtn.classList.remove('not-visible');
                    }
                },
                error: function (err) {
                    console.log(err);
                },
            });
        }
        loadBtn.addEventListener('click', () => {
            loadmorePost()
        });
    </script>

{% endblock %}