{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <div class="col-md-4">
                
        </div>
        <div class="row">
            <div class="col-md-8">
                {% if user.user_profiles %}
                <img src="/media/{{user.user_profiles.images}}" class="rounded-circle" width="100px" alt=""><br>
                <a href="{% url 'edit_profile_picture' %}">Edit Profile Picture</a><br>
                {% else %}
                    <img src="/media/profile_pic/avatar.jpg" class="rounded-circle" width="100px" alt=""><br>
                    <a href="{% url 'add_profile_picture' %}">Add Profile Picture</a><br>
                {% endif %}
                {{user.username}}<br>
                {{user.email}}<br>
                {{user.first_name}} {{user.last_name}}<br>
                <a href="{% url 'edit_password' %}"><button class="btn btn-success btn-sm">Edit Password</button></a><br>
                <a href="{% url 'edit_profile' %}"><button class="btn btn-primary btn-sm">Edit Profile</button></a>
            </div>
        </div>
    </div>
{% endblock content %}
